* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links-navbar a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.links-navbar a:hover {
  color: rgb(250, 215, 37);
}

/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar-principal {
  width: 100%;
  height: 60px;
  padding: 40px;
  padding-bottom: 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-principal .logo-navbar a img {
  max-width: 100%;
  height: 60px;
}
.navbar-principal .links-navbar {
  display: flex;
  gap: 2rem;
}
.navbar-principal .links-navbar a {
  font-family: "Montserrat", sans-serif;
}
.navbar-principal .toggle_btn {
  color: #000000;
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: end;
  justify-content: center;
}
.dropdown_menu a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 1rem;
}
.dropdown_menu a:hover {
  color: rgb(250, 215, 37);
}

.dropdown_menu.open {
  height: 240px;
}

/* RESPONSIVE DESIGN - NAVBAR */
@media (max-width: 992px) {
  .navbar-principal .links-navbar {
    display: none;
  }
  .navbar-principal .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
/* TESTIMONIOS */
.testimonios {
  padding: 40px 0;
  margin: 45px;
  background: #e7e7e7;
  color: black;
  text-align: center;
}
.testimonios .inner-testimonios {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.testimonios .inner-testimonios h1 {
  font-size: 45px;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.testimonios .border-testimonios {
  width: 160px;
  height: 5px;
  background-color: #E5D283;
  margin: 26px auto;
}
.testimonios .row-testimonios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonios .col-testimonios {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonios .testimonio {
  background: #F0F0F0;
  padding: 30px;
}
.testimonios .testimonio img {
  width: 90px;
  height: 90px;
}
.testimonios .testimonio p {
  font-family: "Bodoni Moda", serif;
}
.testimonios .name-testimonio {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 20px 0;
}
.testimonios .stars-testimonio {
  color: #213555;
}

.body, .body-general {
  height: 100vh;
  background-color: black;
  background-image: url(../media/background-image.png);
  background-size: cover;
  background-position: center;
}

/* IMAGEN LINK A GALERIA */
.link-to-galeria h1 {
  font-size: 55px;
  color: black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.link-to-galeria h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #213555;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.link-to-galeria p {
  color: rgb(21, 9, 9);
  font-family: "Bodoni Moda", serif;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 10px;
  font-size: 18px;
}
.link-to-galeria img {
  max-width: 100%;
  display: block;
  margin: auto;
  width: 1600px;
  margin-bottom: 50px;
  transition: 0.5s ease-out;
}

.line-galeria-link {
  width: 600px;
  height: 5px;
  background: #E5D283;
  margin: 26px auto;
}

.img-link-galeria:hover img {
  -webkit-transform: scale(0.8);
  transform: scale(0.9);
  transition: 0.5s ease-out;
}

.img-link-galeria {
  overflow: hidden;
}

.separador-galeria-servicios {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px;
  padding: 10px;
  background-color: #E5D283;
}

.separador-galeria-servicios p {
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

/* PAGINA GALERIA */
.portada-galeria {
  overflow: hidden;
  position: relative;
  margin: 200px auto;
  margin-top: 40px;
}
.portada-galeria img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.portada-galeria h1 {
  font-size: 5.5rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #e7e7e7;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portada-galeria p {
  font-size: 1.4rem;
  font-family: "Bodoni Moda", serif;
  text-align: center;
  color: #e7e7e7;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1700px) {
  .portada-galeria h1 {
    font-size: 4.8rem;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 1.4rem;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 1488px) {
  .portada-galeria h1 {
    font-size: 3.8rem;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 1.2rem;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 1184px) {
  .portada-galeria h1 {
    font-size: 2.8rem;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 1.1rem;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 926px) {
  .portada-galeria h1 {
    font-size: 2.1rem;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 0.5em;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 662px) {
  .portada-galeria h1 {
    font-size: 1.2rem;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 0.4em;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* GALERIA GRID */
.galeria-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  gap: 20px;
}
.galeria-img .box-galeria-img figure {
  width: 100%;
  height: 100%;
}
.galeria-img .box-galeria-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}
.galeria-img .box-galeria-img img:hover {
  filter: brightness(30%);
}
.galeria-img .box-galeria-img:nth-child(1) {
  grid-column-start: span 2;
}
.galeria-img .box-galeria-img:nth-child(5) {
  grid-row-start: span 2;
}
.galeria-img .box-galeria-img:nth-child(12) {
  grid-column-start: span 2;
}
.galeria-img .box-galeria-img:nth-child(13) {
  grid-column-start: span 2;
}

@media screen and (max-width: 800px) {
  .galeria-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-template-rows: 200px;
  }
  .galeria-img .box-galeria-img:nth-child(11) {
    grid-column-start: span 2;
  }
}
@media screen and (max-width: 500px) {
  .galeria-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .galeria-img .box-galeria-img img {
    height: 200px;
  }
  .galeria-img .box-galeria-img:nth-child(6) {
    grid-column-start: span 2;
  }
}
.galeria-imagenes {
  margin-bottom: 4rem;
}
.galeria-imagenes .contenedor-galeria {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: center;
}
.galeria-imagenes .contenedor-galeria .galeria-columna {
  margin: 5px;
}
.galeria-imagenes .contenedor-galeria .galeria-columna img {
  max-width: 100%;
  display: block;
  margin: auto;
  transition: 1s ease;
}
.galeria-imagenes .contenedor-galeria .galeria-columna img:hover {
  filter: brightness(30%);
}

.portada-servicios {
  padding: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.portada-servicios h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  text-align: center;
  display: block;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.portada-servicios p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  color: #000000;
  display: block;
  margin: auto;
  background: linear-gradient(90deg, rgb(255, 223, 118) 0%, rgb(155, 176, 188) 35%, rgb(0, 212, 255) 100%);
}

.servicios-galeria {
  margin: auto;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
}

.item {
  height: 100%;
}

.servicios-productos {
  padding: 30px;
  margin-top: 2rem;
}
.servicios-productos h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  text-align: center;
  display: block;
  margin: auto;
  flex-wrap: wrap;
}
.servicios-productos p {
  text-align: center;
  display: block;
  margin: auto;
  font-family: "Bodoni Moda", serif;
  color: rgb(21, 9, 9);
  font-size: 25px;
}

.seccion-servicios {
  display: grid;
  place-items: center;
  margin-top: 1rem;
  padding-block: 5rem;
}
.seccion-servicios .card-servicios {
  display: grid;
  row-gap: 3.5rem;
}
.seccion-servicios .card-servicios .article-servicios {
  position: relative;
  overflow: hidden;
}
.seccion-servicios .card-servicios .article-servicios .img-servicios {
  width: 328px;
  border-radius: 1.5rem;
  transition: 1s ease;
}
.seccion-servicios .card-servicios .article-servicios .img-servicios:hover {
  filter: brightness(10%);
}
.seccion-servicios .card-servicios .article-servicios .card-data-servicios {
  width: 280px;
  background-color: #F0F0F0;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}
.seccion-servicios .card-servicios .article-servicios .card-data-servicios .card-servicios-desc {
  display: block;
  font-size: 16px;
  margin-bottom: 0.25rem;
}
.seccion-servicios .card-servicios .article-servicios .card-data-servicios .card-title-servicios {
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin-bottom: 0.75rem;
}
.seccion-servicios .card-servicios .article-servicios .card-data-servicios .card-btn-servicios {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #213555;
}
.seccion-servicios .card-servicios .article-servicios .card-data-servicios .card-btn-servicios:hover {
  text-decoration: underline;
}

.seccion-servicios .card-servicios .article-servicios:hover {
  animation: remove-overflow 2s forwards;
}
.seccion-servicios .card-servicios .article-servicios:hover .card-data-servicios {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}
.seccion-servicios .card-servicios .article-servicios:not(:hover) {
  animation: show-overflow 2s forwards;
}
.seccion-servicios .card-servicios .article-servicios:not(:hover) .card-data-servicios {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}
@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}
@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
@keyframes show-overflow {
  0% {
    opacity: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
.cover-art-portada img {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
}

.posters-art-portada img {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
}

.social-art-portada img {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
}

.productos-servicios {
  margin-bottom: 3rem;
}
.productos-servicios .ejemplosdesign {
  background-color: #e7e7e7;
  padding: 1rem;
}
.productos-servicios .ejemplosdesign p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  padding: 18px;
}
.productos-servicios .ejemplosdesign h1 {
  display: block;
  margin: auto;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 35px;
}

.explorar {
  margin: 150px auto;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.explorar .servicio-to-contacto h1 {
  display: block;
  margin: auto;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(44, 44, 44);
  margin-bottom: 1rem;
}
.explorar .img-to-contacto img {
  max-width: 100%;
  display: block;
  margin: auto;
  justify-content: center;
}
.explorar .texto-to-contacto p {
  color: rgb(21, 9, 9);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}
.explorar .texto-to-contacto .action-button {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: block;
  margin: auto;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: #213555;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.explorar .texto-to-contacto .action-button:hover {
  transition: 0.5s ease;
  background-color: white;
  color: #213555;
  border: solid 2px #213555;
}

@media screen and (min-width: 340px) {
  .seccion-servicios {
    margin-inline: 1rem;
    margin-top: -5rem;
  }
  .card-data-servicios {
    width: 250px;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .card-servicios {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .seccion-servicios {
    margin-top: -5rem;
  }
}
@media screen and (min-width: 1120px) {
  .seccion-servicios {
    height: 100vh;
  }
  .card-servicios {
    grid-template-columns: repeat(3, 1fr);
  }
  .img-servicios {
    width: 348px;
  }
  .card-data-servicios {
    width: 316px;
    padding-inline: 2.5rem;
  }
}
@media (min-width: 520px) {
  .galeria-imagenes .contenedor-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 728px) {
  .galeria-imagenes .contenedor-galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .testimonios .row-testimonios .col-testimonios {
    flex: 100%;
    max-width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .testimonios .row-testimonios .col-testimonios {
    flex: 100%;
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  main .contenedor-carousel {
    margin-top: 250px;
    display: flex;
  }
  body .portada-galeria {
    margin-top: 17rem;
  }
}
.info-nosotros {
  background-color: #4F709C;
}

li {
  list-style: none;
}

.contenedor-carousel {
  margin: 45px;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

/* BIENVENIDA ZTR */
.bienvenido-ztr img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/* EXPLORAR SERVICIOS */
.explorar {
  margin: 150px auto;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-explorer {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 100%;
  height: 70px;
}

.texto-explorar h1 {
  font-size: 40px;
  color: black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  clear: both;
  margin-top: 20px;
}
.texto-explorar p {
  color: rgb(21, 9, 9);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.texto-explorar .action-button {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: block;
  margin: auto;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: #213555;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.texto-explorar .action-button:hover {
  transition: 0.5s ease;
  background-color: white;
  color: #213555;
  border: solid 2px #213555;
}

.ejemplo-soc {
  display: block;
  margin: auto;
  justify-content: center;
}
.ejemplo-soc img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: auto;
  transition: 1s ease;
}
.ejemplo-soc img:hover {
  filter: brightness(30%);
}

.portada-acerca-de {
  background-color: #4F709C;
  margin-top: 2rem;
}
.portada-acerca-de img {
  width: 50%;
  display: block;
  margin: auto;
}

.historia {
  display: block;
  margin: auto;
  margin-top: 10rem;
}
.historia h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: "Gasoek One", sans-serif;
  line-height: 6rem;
  font-size: 7rem;
  padding: 2rem;
  color: #F0F0F0;
}
.historia p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  color: #E5D283;
}
.historia img {
  width: 75%;
  display: flex;
  margin: auto;
  margin-top: 2rem;
  transition: 0.7s ease;
}
.historia img:hover {
  filter: brightness(40%);
}

.pasos-y-disciplina {
  display: flex;
  justify-content: center;
  text-align: center;
}
.pasos-y-disciplina .pasos {
  padding: 1rem;
  margin: 2rem;
  margin-left: 3rem;
}
.pasos-y-disciplina .pasos h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Gasoek One", sans-serif;
  text-align: center;
  font-size: 5rem;
  color: #F0F0F0;
}
.pasos-y-disciplina .pasos p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  padding: 1rem;
  color: #E5D283;
}
.pasos-y-disciplina .disciplina {
  padding: 1rem;
  margin: 2rem;
  margin-right: 3rem;
}
.pasos-y-disciplina .disciplina h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Gasoek One", sans-serif;
  text-align: center;
  font-size: 5rem;
  color: #F0F0F0;
}
.pasos-y-disciplina .disciplina p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  padding: 1rem;
  color: #E5D283;
}

.desarrollo .crecimiento h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: "Gasoek One", sans-serif;
  line-height: 6rem;
  font-size: 7rem;
  padding: 2rem;
  color: #F0F0F0;
}
.desarrollo .crecimiento p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  color: #E5D283;
}

.separador-acerca img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.navbar-foot {
  position: relative;
  padding: 0 2rem;
}

.navbar-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.navbar-footer .links-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* FOOTER */
.derechos {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
