* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links-navbar a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.links-navbar a:hover {
  color: rgb(37, 143, 250);
}

/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar-principal {
  width: 100%;
  height: 60px;
  padding: 40px;
  padding-bottom: 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-principal .logo-navbar a img {
  max-width: 100%;
  height: 60px;
}
.navbar-principal .links-navbar {
  display: flex;
  gap: 2rem;
}
.navbar-principal .links-navbar a {
  font-family: "Montserrat", sans-serif;
}
.navbar-principal .toggle_btn {
  color: #000000;
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: end;
  justify-content: center;
}
.dropdown_menu a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 1rem;
}
.dropdown_menu a:hover {
  color: rgb(37, 143, 250);
}

.dropdown_menu.open {
  height: 240px;
}

/* RESPONSIVE DESIGN - NAVBAR */
@media (max-width: 992px) {
  .navbar-principal .links-navbar {
    display: none;
  }
  .navbar-principal .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
/* TESTIMONIOS */
.testimonios {
  padding: 40px 0;
  margin: 45px;
  background: #e7e7e7;
  color: black;
  text-align: center;
}
.testimonios .inner-testimonios {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.testimonios .inner-testimonios h1 {
  font-size: 45px;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.testimonios .border-testimonios {
  width: 160px;
  height: 5px;
  background-color: #E5D283;
  margin: 26px auto;
}
.testimonios .row-testimonios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonios .col-testimonios {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonios .testimonio {
  background: #F0F0F0;
  padding: 30px;
}
.testimonios .testimonio img {
  width: 90px;
  height: 90px;
}
.testimonios .testimonio p {
  font-family: "Bodoni Moda", serif;
}
.testimonios .name-testimonio {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 20px 0;
}
.testimonios .stars-testimonio {
  color: #213555;
}

.body, .body-general {
  height: 100vh;
  background-color: black;
  background-image: url(../media/background-image.png);
  background-size: cover;
  background-position: center;
}

/* IMAGEN LINK A GALERIA */
.link-to-galeria h1 {
  font-size: 55px;
  color: black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.link-to-galeria h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #213555;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.link-to-galeria p {
  color: rgb(21, 9, 9);
  font-family: "Bodoni Moda", serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 10px;
  font-size: 18px;
}
.link-to-galeria img {
  max-width: 100%;
  display: block;
  margin: auto;
  width: 1600px;
  margin-bottom: 50px;
  transition: 0.5s ease-out;
}

.line-galeria-link {
  width: 600px;
  height: 5px;
  background: #E5D283;
  margin: 26px auto;
}

.img-link-galeria:hover img {
  -webkit-transform: scale(0.8);
  transform: scale(0.9);
  transition: 0.5s ease-out;
}

.img-link-galeria {
  overflow: hidden;
}

.separador-galeria-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 50px;
  padding: 10px;
  background-color: #E5D283;
}

.separador-galeria-servicios p {
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

/* PAGINA GALERIA */
.portada-galeria {
  overflow: hidden;
  position: relative;
  margin: 200px auto;
  margin-top: 40px;
}
.portada-galeria img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.portada-galeria h1 {
  font-size: 5.5rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #e7e7e7;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portada-galeria p {
  font-size: 1.4rem;
  font-family: "Bodoni Moda", serif;
  text-align: center;
  color: #e7e7e7;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1700px) {
  .portada-galeria h1 {
    font-size: 4.8rem;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 1.4rem;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 1488px) {
  .portada-galeria h1 {
    font-size: 3.8rem;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 1.2rem;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 1184px) {
  .portada-galeria h1 {
    font-size: 2.8rem;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 1.1rem;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 926px) {
  .portada-galeria h1 {
    font-size: 2.1rem;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 0.5em;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 662px) {
  .portada-galeria h1 {
    font-size: 1.2rem;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 0.4em;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 370px) {
  .portada-galeria h1 {
    font-size: 1rem;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 0.4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 305px) {
  .portada-galeria h1 {
    font-size: 0.8rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .portada-galeria p {
    font-size: 0.3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* GALERIA GRID */
.galeria-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  gap: 20px;
}
.galeria-img .box-galeria-img figure {
  width: 100%;
  height: 100%;
}
.galeria-img .box-galeria-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}
.galeria-img .box-galeria-img img:hover {
  filter: brightness(30%);
}
.galeria-img .box-galeria-img:nth-child(1) {
  grid-column-start: span 2;
}
.galeria-img .box-galeria-img:nth-child(5) {
  grid-row-start: span 2;
}
.galeria-img .box-galeria-img:nth-child(12) {
  grid-column-start: span 2;
}
.galeria-img .box-galeria-img:nth-child(13) {
  grid-column-start: span 2;
}

@media screen and (max-width: 800px) {
  .galeria-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-template-rows: 200px;
  }
  .galeria-img .box-galeria-img:nth-child(11) {
    grid-column-start: span 2;
  }
}
@media screen and (max-width: 500px) {
  .galeria-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .galeria-img .box-galeria-img img {
    height: 200px;
  }
  .galeria-img .box-galeria-img:nth-child(6) {
    grid-column-start: span 2;
  }
}
.galeria-imagenes {
  margin-bottom: 4rem;
}
.galeria-imagenes .contenedor-galeria {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: center;
}
.galeria-imagenes .contenedor-galeria .galeria-columna {
  margin: 5px;
}
.galeria-imagenes .contenedor-galeria .galeria-columna img {
  max-width: 100%;
  display: block;
  margin: auto;
  transition: 1s ease;
}
.galeria-imagenes .contenedor-galeria .galeria-columna img:hover {
  filter: brightness(30%);
}

.portada-servicios {
  padding: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.portada-servicios h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  text-align: center;
  display: block;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.portada-servicios p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  color: #000000;
  display: block;
  margin: auto;
  background: linear-gradient(90deg, rgb(255, 223, 118) 0%, rgb(155, 176, 188) 35%, rgb(0, 212, 255) 100%);
}

.servicios-galeria {
  margin: auto;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
}

.item {
  height: 100%;
}

.servicios-productos {
  padding: 30px;
  margin-top: 2rem;
}
.servicios-productos div {
  display: block;
  margin: auto;
}
.servicios-productos div h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 50px;
  flex-wrap: wrap;
}
.servicios-productos p {
  text-align: center;
  display: block;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: rgb(21, 9, 9);
  font-size: 25px;
}

.seccion-servicios {
  display: grid;
  place-items: center;
  margin-top: 1rem;
  padding-block: 5rem;
}
.seccion-servicios .card-servicios {
  display: grid;
  row-gap: 3.5rem;
}
.seccion-servicios .card-servicios .article-servicios {
  position: relative;
  overflow: hidden;
}
.seccion-servicios .card-servicios .article-servicios .img-servicios {
  width: 328px;
  border-radius: 1.5rem;
  transition: 1s ease;
}
.seccion-servicios .card-servicios .article-servicios .img-servicios:hover {
  filter: brightness(10%);
}
.seccion-servicios .card-servicios .article-servicios .card-data-servicios {
  width: 280px;
  background-color: #F0F0F0;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}
.seccion-servicios .card-servicios .article-servicios .card-data-servicios .card-servicios-desc {
  display: block;
  font-size: 16px;
  margin-bottom: 0.25rem;
}
.seccion-servicios .card-servicios .article-servicios .card-data-servicios .card-title-servicios {
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin-bottom: 0.75rem;
}
.seccion-servicios .card-servicios .article-servicios .card-data-servicios .card-btn-servicios {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #213555;
}
.seccion-servicios .card-servicios .article-servicios .card-data-servicios .card-btn-servicios:hover {
  text-decoration: underline;
  color: rgb(37, 143, 250);
}

.seccion-servicios .card-servicios .article-servicios:hover {
  animation: remove-overflow 2s forwards;
}
.seccion-servicios .card-servicios .article-servicios:hover .card-data-servicios {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}
.seccion-servicios .card-servicios .article-servicios:not(:hover) {
  animation: show-overflow 2s forwards;
}
.seccion-servicios .card-servicios .article-servicios:not(:hover) .card-data-servicios {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}
@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}
@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
@keyframes show-overflow {
  0% {
    opacity: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
.cover-art-portada img {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
}

.posters-art-portada img {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
}

.social-art-portada img {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
}

.productos-servicios {
  margin-bottom: 3rem;
}
.productos-servicios .ejemplosdesign {
  background-color: #e7e7e7;
  padding: 1rem;
}
.productos-servicios .ejemplosdesign p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  padding: 18px;
}
.productos-servicios .ejemplosdesign h1 {
  display: block;
  margin: auto;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 35px;
}

.explorar {
  margin: 150px auto;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.explorar .servicio-to-contacto h1 {
  display: block;
  margin: auto;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(44, 44, 44);
  margin-bottom: 1rem;
}
.explorar .img-to-contacto img {
  max-width: 100%;
  display: block;
  margin: auto;
  justify-content: center;
}
.explorar .texto-to-contacto p {
  color: rgb(21, 9, 9);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}
.explorar .texto-to-contacto .action-button {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: block;
  margin: auto;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: #213555;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.explorar .texto-to-contacto .action-button:hover {
  transition: 0.5s ease;
  background-color: white;
  color: #213555;
  border: solid 2px #213555;
}

@media screen and (min-width: 340px) {
  .seccion-servicios {
    margin-inline: 1rem;
    margin-top: -5rem;
  }
  .card-data-servicios {
    width: 250px;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .card-servicios {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .seccion-servicios {
    margin-top: -5rem;
  }
}
@media screen and (min-width: 1120px) {
  .seccion-servicios {
    height: 100vh;
  }
  .card-servicios {
    grid-template-columns: repeat(3, 1fr);
  }
  .img-servicios {
    width: 348px;
  }
  .card-data-servicios {
    width: 316px;
    padding-inline: 2.5rem;
  }
}
@media (min-width: 520px) {
  .galeria-imagenes .contenedor-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 728px) {
  .galeria-imagenes .contenedor-galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .testimonios .row-testimonios .col-testimonios {
    flex: 100%;
    max-width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .testimonios .row-testimonios .col-testimonios {
    flex: 100%;
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  main .contenedor-carousel {
    margin-top: 250px;
    display: flex;
  }
  body .portada-galeria {
    margin-top: 17rem;
  }
}
@media (max-width: 412px) {
  main .bienvenida-contacto div h1 {
    font-size: 2.3rem;
  }
  .titulo-redes-sociales div h1 {
    font-size: 2rem;
  }
}
@media (max-width: 412px) {
  .historia div h1 {
    font-size: 3.6rem;
    line-height: 3.5rem;
  }
  .sobre-mi .sobremi-1 h1 {
    font-size: 3.6rem;
  }
}
main .bienvenida-contacto h1 {
  font-family: "Gasoek One", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
  margin-top: 1.4rem;
  flex-wrap: wrap;
}
main .bienvenida-contacto p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  color: #E5D283;
  color: #213555;
  font-size: 1.4rem;
}
main .portada-contacto {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
main .portada-contacto img {
  max-width: 100%;
  display: block;
  margin: auto;
  width: 35%;
}

.titulo-redes-sociales h1 {
  font-family: "Gasoek One", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
}
.titulo-redes-sociales p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  color: #E5D283;
  color: #213555;
  font-size: 1.4rem;
}
.titulo-redes-sociales img {
  max-width: 100%;
  display: block;
  margin: auto;
  margin-right: 0;
  margin-top: -2rem;
}

.redes-sociales {
  display: block;
  padding: 1rem;
  margin: auto;
  margin-top: -6rem;
  justify-content: center;
}
.redes-sociales section div {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.redes-sociales section div h1 {
  font-family: "Gasoek One", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
}

.contenedor-redes {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}
.contenedor-redes .boton-redes {
  height: 60px;
  width: 60px;
  margin: 0 5px;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  overflow: hidden;
}
.contenedor-redes .boton-redes a {
  text-decoration: none;
  color: black;
}
.contenedor-redes .boton-redes span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 20px;
}
.contenedor-redes .boton-redes .icono-redes {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  text-align: center;
}
.contenedor-redes .boton-redes .icono-redes i {
  font-size: 25px;
  line-height: 60px;
}
.contenedor-redes .boton-redes:hover {
  width: 200px;
}
.contenedor-redes .boton-redes:nth-child(1):hover .icono-redes {
  background: linear-gradient(30deg, #3040e6 10%, #d41356, #e74f31, #f0da4e);
  color: #fff;
}
.contenedor-redes .boton-redes:nth-child(2):hover .icono-redes {
  background: #12bcff;
  color: #fff;
}
.contenedor-redes .boton-redes:nth-child(3):hover .icono-redes {
  background: #123eff;
  color: #fff;
}
.contenedor-redes .boton-redes:nth-child(4):hover .icono-redes {
  background: #12ff51;
  color: #fff;
}

.foto-decoracion {
  margin-top: 3rem;
  display: flex;
}
.foto-decoracion img {
  display: block;
  margin: auto;
  width: 25%;
  margin-right: 0;
  filter: brightness(75%);
}

@media (max-width: 992px) {
  .foto-decoracion {
    display: block;
    justify-content: center;
  }
  .foto-decoracion img {
    display: block;
    margin: auto;
    width: 75%;
  }
}
.portada-faqs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.portada-faqs img {
  max-width: 100%;
  display: block;
  margin: auto;
  width: 35%;
}

.seccion-faqs {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion-faqs .faqs {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  cursor: pointer;
}
.seccion-faqs .faqs .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seccion-faqs .faqs .question h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.seccion-faqs .faqs .question svg {
  transition: transform 0.5s ease-in;
}
.seccion-faqs .faqs .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.seccion-faqs .faqs .answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}
.seccion-faqs .faqs:active .answer {
  max-height: 300px;
  animation: fade 1s ease-in;
}
.seccion-faqs .faqs:active .question svg {
  transform: rotate(180deg);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.acordion-faqs {
  display: flex;
  max-width: 1010px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 45px 90px 45px 60px;
  margin: auto;
  margin-top: -8rem;
}
.acordion-faqs .image-faqs {
  height: 420px;
  width: 400px;
}
.acordion-faqs .image-faqs img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.acordion-faqs .acordion-text {
  width: 60%;
}
.acordion-faqs .acordion-text .faqs-text {
  margin-top: 25px;
  height: 263px;
  overflow-y: auto;
}
.acordion-faqs .acordion-text .faqs-text li {
  list-style: none;
  cursor: pointer;
}
.acordion-faqs .acordion-text .faqs-text li .question-arrow {
  display: flex;
  justify-content: space-between;
}
.acordion-faqs .acordion-text .faqs-text li .question-arrow .question {
  font-size: 18px;
  font-weight: 700;
  color: rgba(43, 43, 43, 0.3490196078);
  transition: all 0.3s ease;
}
.acordion-faqs .acordion-text .faqs-text li .question-arrow .arrow {
  font-size: 20px;
  color: rgba(43, 43, 43, 0.3490196078);
  transition: all 0.3s ease;
}
.acordion-faqs .acordion-text .faqs-text li .question-arrow:hover .question {
  color: #0062ff;
}
.acordion-faqs .acordion-text .faqs-text li .question-arrow:hover .arrow {
  color: #0062ff;
}
.acordion-faqs .acordion-text .faqs-text li .line {
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}
.acordion-faqs .acordion-text .faqs-text li p {
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: rgba(43, 43, 43, 0.3490196078);
  display: none;
}
.acordion-faqs .acordion-text .faqs-text li.showAnswer p {
  display: block;
}
.acordion-faqs .acordion-text .faqs-text li.showAnswer .question-arrow .arrow {
  transform: rotate(-180deg);
}
.acordion-faqs .acordion-text .faqs-text li.showAnswer .question {
  color: #0062ff;
}
.acordion-faqs .acordion-text .faqs-text li.showAnswer .arrow {
  color: #0062ff;
}
.acordion-faqs .acordion-text .faqs-text::-webkit-scrollbar {
  display: none;
}

@media (max-width: 727px) {
  .acordion-faqs {
    display: flex;
    max-width: 100%;
    padding: 45px 60px 45px 60px;
  }
  .acordion-faqs .image-faqs {
    height: 360px;
    width: 220px;
  }
  .acordion-faqs .acordion-text {
    width: 63%;
  }
}
@media (max-width: 500px) {
  .acordion-faqs {
    flex-direction: column;
  }
  .acordion-faqs .image-faqs {
    height: 360px;
    width: 300px;
    background: #0062ff;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    margin-top: 4rem;
  }
  .acordion-faqs .acordion-text {
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 357px) {
  .acordion-faqs {
    padding: 25px;
  }
}
.titulo-formulario h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-family: "Gasoek One", sans-serif;
  text-decoration: underline;
}

.contenedor-form {
  background-color: #F0F0F0;
  width: 80%;
  min-width: 420px;
  padding: 35px 50px;
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
}
.contenedor-form h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #213555;
}
.contenedor-form p {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #606060;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.contenedor-form form {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}
.contenedor-form form .row-form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px 30px;
  margin-bottom: 20px;
}
.contenedor-form form .row-form .column-form label {
  color: #1c093c;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.contenedor-form form .row-form .column-form textarea {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  resize: none;
}
.contenedor-form form .row-form .column-form textarea:focus {
  outline: none;
  border-color: #0062ff;
}
.contenedor-form form .row-form .column-form input {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}
.contenedor-form form .row-form .column-form input:focus {
  outline: none;
  border-color: #0062ff;
}
.contenedor-form form .btn-form-cont {
  border: none;
  padding: 10px 20px;
  background: linear-gradient(130deg, #0062ff, #6d97db);
  color: #F0F0F0;
  border-radius: 10px;
}

.info-nosotros {
  background-color: #4F709C;
}

li {
  list-style: none;
}

.contenedor-carousel {
  margin: 45px;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

/* BIENVENIDA ZTR */
.bienvenido-ztr img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/* EXPLORAR SERVICIOS */
.explorar {
  margin: 150px auto;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-explorer {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 100%;
  height: 70px;
}

.texto-explorar h1 {
  font-size: 40px;
  color: black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  clear: both;
  margin-top: 20px;
}
.texto-explorar p {
  color: rgb(21, 9, 9);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.texto-explorar .action-button {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: block;
  margin: auto;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: #213555;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.texto-explorar .action-button:hover {
  transition: 0.5s ease;
  background-color: white;
  color: #213555;
  border: solid 2px #213555;
}

.ejemplo-soc {
  display: block;
  margin: auto;
  justify-content: center;
}
.ejemplo-soc img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: auto;
  transition: 1s ease;
}
.ejemplo-soc img:hover {
  filter: brightness(30%);
}

.portada-acerca-de {
  background-color: #4F709C;
  margin-top: 2rem;
}
.portada-acerca-de img {
  width: 50%;
  display: block;
  margin: auto;
}

.historia {
  display: block;
  margin: auto;
  margin-top: 10rem;
  background-color: #213555;
}
.historia h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: "Gasoek One", sans-serif;
  line-height: 6rem;
  font-size: 4rem;
  padding: 2rem;
  color: #F0F0F0;
}
.historia p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  color: #E5D283;
}
.historia img {
  width: 75%;
  display: flex;
  margin: auto;
  margin-top: 2rem;
  transition: 0.7s ease;
}
.historia img:hover {
  filter: brightness(40%);
}

.desarrollo1 {
  margin-top: 3.4rem;
}
.desarrollo1 p {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #213555;
  display: block;
  margin: auto;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: #E5D283;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.pasos-y-disciplina {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.pasos-y-disciplina .pasos {
  padding: 1rem;
  margin: 2rem;
  margin-left: 3rem;
}
.pasos-y-disciplina .pasos h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Gasoek One", sans-serif;
  text-align: center;
  font-size: 5rem;
  color: #F0F0F0;
}
.pasos-y-disciplina .pasos p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  padding: 1rem;
  color: #E5D283;
}
.pasos-y-disciplina .disciplina {
  padding: 1rem;
  margin: 2rem;
  margin-right: 3rem;
}
.pasos-y-disciplina .disciplina h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Gasoek One", sans-serif;
  text-align: center;
  font-size: 5rem;
  color: #F0F0F0;
}
.pasos-y-disciplina .disciplina p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  padding: 1rem;
  color: #E5D283;
}

.desarrollo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.desarrollo .crecimiento h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: "Gasoek One", sans-serif;
  line-height: 6rem;
  font-size: 4rem;
  padding: 2rem;
  color: #F0F0F0;
}
.desarrollo .crecimiento p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  color: #E5D283;
}

.separador-acerca img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.sobre-mi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #213555;
  justify-content: center;
}
.sobre-mi .sobremi-1 h1 {
  margin: auto;
  font-family: "Gasoek One", sans-serif;
  line-height: 6rem;
  font-size: 4rem;
  padding: 2rem;
  color: #F0F0F0;
}
.sobre-mi .sobremi-1 p {
  margin: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  color: #E5D283;
}

.link-to-servicio-acerca {
  background-color: #E5D283;
  padding: 1rem;
  margin-top: 1rem;
}

.navbar-foot {
  position: relative;
  padding: 0 2rem;
}

.navbar-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.navbar-footer .links-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* FOOTER */
.derechos p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
