*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url(../media/background-image.png);
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

.links-navbar a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.links-navbar a:hover{
    color: rgb(250, 215, 37);
}

/* HEADER */

header{
    position: relative;
    padding: 0 2rem;
}

.navbar-principal{
    width: 100%;
    height: 60px;
    padding: 40px;
    padding-bottom: 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-principal .logo-navbar a img{
    max-width: 100%;
    height: 60px;
}

.navbar-principal .links-navbar{
    display: flex;
    gap: 2rem;
}

.navbar-principal .toggle_btn{
    color: #000000;
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
}

/* DROPDOWN MENU */

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: end;
    justify-content: center;
}

.dropdown_menu a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.dropdown_menu a:hover{
    color: rgb(250, 215, 37);
}

/* RESPONSIVE DESIGN - NAVBAR */

@media(max-width: 992px){
    .navbar-principal .links-navbar{
        display: none;
    }

    .navbar-principal .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    main .contenedor-carousel{
        margin-top: 250px;
        display: flex;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

.contenedor-carousel{
    margin: 45px;
    display: flex;
    margin-bottom: 120px;
}

/* BIENVENIDA ZTR */

.bienvenido-ztr img{
    max-width: 100%;
    display: block;
    margin: auto;
}

/* TESTIMONIOS */

.testimonios{
    padding: 40px 0;
    margin: 45px;
    background: #e7e7e7;
    color: black;
    text-align: center;
}

.inner-testimonios{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.inner-testimonios h1{
    font-size:45px;
}

.border-testimonios{
    width: 160px;
    height: 5px;
    background-color: #E5D283;
    margin: 26px auto;
}

.row-testimonios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-testimonios{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonio{
    background: #F0F0F0;
    padding: 30px;
}

.testimonio img{
    width: 90px;
    height: 90px;
}

.name-testimonio{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars-testimonio{
    color: #213555;
    margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
    .col-testimonios{
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .col-testimonios{
        flex: 100%;
        max-width: 100%;
    }
}