*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./partials/header";
@import "./partials/testimonios";
@import "./partials/mixin";
@import "./partials/extends";
@import "./partials/galeria-stuff";
@import "./partials/servicios";
@import "./partials/link-to";
@import "./partials/mediaq";

// Variables

$color-h1-noground: black;
$color-p: rgb(21, 9, 9);
$font-1: 'Montserrat', sans-serif;
$font-2: 'Bodoni Moda', serif;
$font-3: 'Roboto', sans-serif;
$font-fat: 'Gasoek One', sans-serif;
$card-servicios-color: #F0F0F0;
$card-color1: #213555;
$card-title: black;
$card-text: rgb(44, 44, 44);
$card-body: #ffffff;

.body-general{
    @extend .body;
}

.info-nosotros{
    background-color: #4F709C;
}

li{
    list-style: none;
}

.contenedor-carousel{
    margin: 45px;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

/* BIENVENIDA ZTR */
.bienvenido-ztr img{
    @include img-responsive;
}

/* EXPLORAR SERVICIOS */
.explorar{
    margin: 150px auto;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-explorer{
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 100%;
    height: 70px;
}
.texto-explorar{
    h1{
        font-size: 40px;
        color: $color-h1-noground;
        font-family: $font-1;
        @include flex;;
        flex-wrap: wrap;
        clear: both;
        margin-top: 20px;
    }
    p{
        color: $color-p;
        font-family: $font-3;
        font-size: 24px;
        @include flex;
    }
    .action-button{
        text-decoration: none;
        font-family: $font-1;
        color: white;
        display: block;
        margin: auto;
        outline: none;
        padding: 0.5rem 1rem;
        background-color: #213555;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
        transition: 0.5s ease;
    }
    .action-button:hover{
        transition: 0.5s ease;
        background-color: white;
        color: #213555;
        border: solid 2px #213555;
    }
}

.ejemplo-soc{
    display: block;
    margin: auto;
    justify-content: center;
    img{    
        @include img-responsive;
        height: auto;
        transition: 1s ease;
    }
    img:hover{
        filter: brightness(30%);
    }
}

// Diseño de la pagina de Acerca De.
// Portada

.portada-acerca-de{
    background-color: #4F709C;
    margin-top: 2rem;
    img{
        width: 50%;
        display: block;
        margin: auto;
       
    }
}

// Historia

.historia{
    display: block;
    margin: auto;
    margin-top: 10rem;
    h1{
        @include flex;
        margin: auto;
        font-family: $font-fat;
        line-height: 6rem;
        font-size: 7rem;
        padding: 2rem;
        color: $card-servicios-color;
    }
    p{
        @include flex;
        margin: 5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: $font-1;
        font-size: 2rem;
        padding: 1rem;
        color: #E5D283;
    }
    img{
        width: 75%;
        display: flex;
        margin: auto;
        margin-top: 2rem;
        transition: 0.7s ease;
    }
    img:hover{
        filter: brightness(40%);
    }
}

// Primeros pasos y las primeras caidas Estilo columnas

.pasos-y-disciplina{
    @include flex;
    .pasos{
        padding: 1rem;
        margin: 2rem;
        margin-left: 3rem;
        h1{
            @include flex;
            font-family: $font-fat;
            text-align: center;
            font-size: 5rem;
            color: $card-servicios-color;
        }
        p{
            @include flex;
            margin: 5rem;
            margin-top: 0.4rem;
            margin-bottom: 1rem;
            font-family: $font-1;
            font-size: 1.4rem;
            padding: 1rem;
            color: #E5D283;
        }
    }
    .disciplina{
        padding: 1rem;
        margin: 2rem;
        margin-right: 3rem;
        h1{
            @include flex;
            font-family: $font-fat;
            text-align: center;
            font-size: 5rem;
            color: $card-servicios-color;
        }
        p{
            @include flex;
            margin: 5rem;
            margin-top: 0.4rem;
            margin-bottom: 1rem;
            font-family: $font-1;
            font-size: 1.4rem;
            padding: 1rem;
            color: #E5D283;
        }
    }
}

// Estilos de seccion de Año 2020 a 2021

.desarrollo{
    .crecimiento{
        h1{
            @include flex;
            margin: auto;
            font-family: $font-fat;
            line-height: 6rem;
            font-size: 7rem;
            padding: 2rem;
            color: $card-servicios-color;
        }
        p{
            @include flex;
            margin: 5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-family: $font-1;
            font-size: 2rem;
            padding: 1rem;
            color: #E5D283;
        }
    }
}

// Separador

.separador-acerca{
    img{
        @include img-responsive;
    }
}

// /* NAV FOOTER */

.navbar-foot{
    position: relative;
    padding: 0 2rem;
}

.navbar-footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.navbar-footer .links-navbar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

/* FOOTER */
.derechos{
    @include flex;
    margin: auto;
    flex-wrap: wrap;
}
